.black-pink {
    background-color: hsl(0, 100%, 80%);
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}/* Add CSS Styling */

.cooler {
    font-size: 24px;
}

#number2 {
    color: blue;
    font-size: 36px;
}

#number4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}