body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.card {
  width: 410px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-top: 8px; 
  margin-bottom: 0;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  font-weight: 200;
  padding: 8px 20px;
}

div {
  margin-top: 8px;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}